html{
    --fondo: #11224E;
    --texto: #EEEEEE;
    --botones: #CBD99B;
    --titulos: #F87B1B;
    --encabezados: "Contrail One", sans-serif;
    --texto: "Inter Tight", sans-serif;
}
.foot{
    background-color: var(--fondo);
    h6{
        font-family: var(--encabezados);
        color:var(--titulos);   
    }
    font-family: var(--texto);
}

a.icon{
    img{
        height: 3rem;
        border-radius: 20%;
        background-color: white;
    }
    height: 1rem;
}